@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-nova-navy: #1e3a8a;
  --color-nova-gold: #d4af37;
  --color-nova-gold-dark: #b08d2b;
  --color-nova-gray: #9ca3af;
}

body {
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

* {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}